.App {
  position: relative;
  top: 30vh;
  text-align: center;
}

.button {
  background-color: #0078ff;
  font-size: 1em;
  font-weight: bold;
  color: white;
  border: none;
  padding: 16px;
  margin: 16px;
  width: 10vw;
  min-width: 96px;
}

.button:hover {
  background-color: #0064e6;
}

.timer {
  font-size: 4em;
}